<nav class="navbar navbar-dark bg-primary">

<a href="/" class="navbar-brand">
    <img width="120" height="35" src="Photos/Captura_de_tela_2023-06-14_153147-removebg-preview.png" alt="logo">
</a>
 <ul class="navbar-nav mr-auto">
    <li class="nav-item ">
        <a class="nav-link" href="/admin/categories">Categories </a>
    </li>
 </ul>
</nav>